<header class="site-header" id="site-header">
  <div class="logo">
    <a href="/">
      <div class="screen-reader-text">The Stove Cove</div>
      <svg class="icon-logo-star" width="35px" height="35px">
        <use xlink:href="#icon-logo-star"></use>
      </svg>
      <svg class="icon-logo-text" width="214px" height="35px">
        <use xlink:href="#logo"></use>
      </svg>
    </a>
  </div>
  <div class="header-middle-area">
    <nav class="main-nav" id="main-nav">
      <ul class="main-sections">
        <li class="articles">
          <a href="/">
            <svg class="icon-nav-articles" width="26px" height="26px">
              <use xlink:href="#icon-nav-articles"></use>
            </svg>
            <span>What's Happening</span>
          </a>
        </li>
        <li class="videos">
          <a href="/">
            <svg class="icon-nav-video" width="26px" height="26px">
              <use xlink:href="#icon-nav-videos"></use>
            </svg>
            <span>Events</span>
          </a>
        </li>
        <li class="almanac">
          <a href="/">
            <svg class="icon-nav-almanac" width="26px" height="26px">
              <use xlink:href="#icon-nav-almanac"></use>
            </svg>
            <span>Book A Room</span>
          </a>
        </li>
        <li class="snippets">
          <a href="/snippets/">
            <svg class="icon-nav-snippets" width="26px" height="26px">
              <use xlink:href="#icon-nav-snippets"></use>
            </svg>
            <span>The Weekly Floyd</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
